<!DOCTYPE html>
<html lang="en" ng-app="ShapingUp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/app.css"/>
</head>
<body class="container" ng-controller="StoreController as store">
<ul class="list-group">
    <li class="list-group-item" ng-repeat="product in store.products">
        <h3> {{product.name}} <em class="pull-right">{{product.price | currency}}</em></h3>
    <product-gallery></product-gallery>
    <product-panels></product-panels>
    </li>
</ul>
</body>
<script type="application/javascript" src="js/angular/angular.min.js"></script>
<script type="application/javascript" src="js/app.js"></script>
<script type="application/javascript" src="js/controller/store-controller.js"></script>
<script type="application/javascript" src="js/controller/panel-controller.js"></script>
<script type="application/javascript" src="js/controller/gallery-controller.js"></script>
<script type="application/javascript" src="js/controller/review-controller.js"></script>
<script type="application/javascript" src="js/directive/product-panels.js"></script>
<script type="application/javascript" src="js/directive/product-description.js"></script>
<script type="application/javascript" src="js/directive/product-specification.js"></script>
<script type="application/javascript" src="js/directive/product-reviews.js"></script>
<script type="application/javascript" src="js/directive/product-gallery.js"></script>
</html>